<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.theunigame.unigame" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.V21.Theme.AppCompat" >

        <activity android:name=".app.presentacion.controlador.impl.LoginMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.presentacion.controlador.impl.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.UsarDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_usar_db">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.CrearDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_crear_db">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.BajarDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bajar_db">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.ListaBasesDatos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dbs">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.ListaPreguntas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_lista_preguntas">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.CrearPregunta"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_editar_pregunta">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.ListaUniversidades"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_universidades">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.ListaCarreras"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_carreras">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.ListaAsignaturas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_asignaturas">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.JuegoIndividual"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_juego_individual">
        </activity>

    </application>

</manifest>
