<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.theunigame.unigame" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
         >
        <activity android:name=".app.presentacion.controlador.impl.LoginMain"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.Cargar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_cargar">
        </activity>

        <activity
            android:name=".app.presentacion.controlador.impl.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name=".app.presentacion.controlador.impl.Registry"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_registry">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.GestionarDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_usar_db">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.CrearDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_crear_db">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.EstadisticasPartida"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_estadisticas_partida">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.BajarDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bajar_db">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.EliminarDB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="Eliminar DB">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.ListaBasesDatos"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dbs">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.ListaPreguntas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_lista_preguntas">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.CrearPregunta"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="Crear Pregunta">
        </activity>

        <activity android:name=".app.presentacion.controlador.impl.EditarPregunta"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="Editar Pregunta">
        </activity>

        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.ListaUniversidades"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_universidades">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.ListaCarreras"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_carreras">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.ListaAsignaturas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_asignaturas">
        </activity>
        <activity android:name="tk.theunigame.unigame.app.presentacion.controlador.impl.JuegoIndividual"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"

            android:label="@string/title_activity_juego_individual">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.ListaAsignaturasSinCB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_asignaturas">
        </activity>
        <activity android:name=".app.presentacion.controlador.impl.ListaBasesDatosSinCB"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_dbs">
        </activity>

    </application>

</manifest>
